.testimonials-box{
  position: relative;
  z-index: 2;

  padding: 32px;

  display: flex;
  gap: 32px;

  flex-wrap: wrap;
  max-width: 800px;


}

.testimonial{
  padding: 32px;
  border-radius: 32px;

  background: #ffffff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(152, 222, 245, 1) 150%);
  max-width: 350px;
 
}

.rating-row{
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  border-bottom: 1px solid var(--text-black);
 
}

.t-message{
  font-weight: 600;
  text-align: center;
 
}

.t-form{
  background: #ffffff;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(152, 222, 245, 1) 150%);
  padding: 32px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-shadow: var(--card-blue-shadow);
  border-radius: 60px 60px 60px 60px;
  width: 500px;
 

}


.t-form-input{
  border: 1px solid var(--text-black);
  border-radius: 4px;
  background: none;
  padding: 8px;
  width: 100%;
}
.t-bottom-row{
  display: flex;
  gap: 16px;
  align-items: center;
  > label{
      text-wrap: nowrap;
  }

}

.stars-row{
  border-bottom: 1px solid var(--text-black);
  align-items: center;
  display: flex;
  gap: 6px;
}

.star{
  height: 16px;
  width: 16px;


  background-image: url(/assets/star_yellow.svg);
  background-repeat: no-repeat;
  background-position: center;
  > input{
      display: none;
  }
}

.star:has(input:checked)~.star{
  background-image: url(/assets/star_black.svg);
}